<%= form.error_messages %>

<div>

    <p>
      <%= image_tag("locales/en.png") %>
      <%= form.text_field :name_en %>
    </p> 
    
    <p>
      <%= image_tag("locales/zh-TW.png") %>
      <%= form.text_field :name_zh_tw %>
    </p>
    
    <p>
      <%= image_tag("locales/zh-CN.png") %>
      <%= form.text_field :name_zh_cn %>
    </p> 

</div>
